body {
    background-color: #3C4BA5;
    color: white;
    font-family: "Coming Soon";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Otter */
.otter {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 30px 0 30px 0;
}

.intro {
    max-width: 400px;
    line-height: 35px;
}

.name {
    font-size: 35px;
    font-family: "Chewy";
    letter-spacing: 3px;
    margin-top: 0;
}

.intro p {
    font-size: 20px;
}

.profile {
    width: 250px;
    height: 250px;
}

/* NUGGET's FRIENDS */
.friends-container {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 50px;
}

li {
    margin: 20px;
    font-size: 25px;
}

/* JOKE */
.joke-panel {
    background-color: #C3CAF5;
    padding: 50px 150px 50px 150px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.joke-text {
    color: black;
    padding-bottom: 20px;
}

.joke-btn {
    border-radius: 12px;
    background-color: #3C4BA5;
    color: white;
    padding: 20px 60px;
    font-size: 20px;
    border: none;
    font-family: "Coming Soon";
}

.joke-btn:hover {
    transform: scale(1.1);
}